@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/utilities';

// ---------------------------------------------
// CONTENT (LEFT SIDE)
// ---------------------------------------------

.content {
  padding-block: 7.15rem;

  @include mixins.respond(md) {
    padding: 0;
  }

  &__heading {
    &-title {
      @include mixins.text-heading;
      margin-bottom: variables.$space-400;
    }

    &-desc {
      @include mixins.text-body-regular;
      margin-bottom: variables.$space-400;
    }
  }

  &__list {
    @include utilities.flex-column(start, start, nowrap);
    margin-bottom: variables.$space-400;

    &-item {
      @include utilities.flex-row;
      gap: variables.$space-150;
      @include mixins.text-body-regular;

      &:not(:last-child) {
        margin-bottom: variables.$space-100;
      }
    }
  }

  &__form {
    @include utilities.flex-column(start, start, nowrap);
  }
}
