@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/utilities';

// ---------------------------------------------
// FORM CONTROl
// ---------------------------------------------

.form-control {
  width: 100%;
  @include utilities.flex-column(start, start, nowrap);

  .labels {
    width: 100%;
    @include utilities.space-between-center;
    flex-wrap: nowrap;
    margin-bottom: variables.$space-100;

    .error-message {
      color: variables.$red;
    }
  }

  label,
  span {
    @include mixins.text-body-small;
    font-weight: variables.$font-weight-bold;
  }

  input {
    margin-bottom: variables.$space-300;
  }
}
