@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #242742;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

body {
  background-color: #36384d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  margin-block: 21.9rem;
  margin-inline: auto;
  padding-block: 2.4rem;
  padding-inline: 3.2rem;
  background-color: #fff;
  border-radius: 3.6rem;
  max-width: 90.4rem;
}
@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4rem;
    margin-block: 7.2rem;
    padding: 4rem;
    max-width: 48rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 37rem;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.container .content {
  order: 1;
}
@media (max-width: 800px) {
  .container .content {
    order: 2;
  }
}
.container__image {
  order: 2;
}
.container__image-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.6rem;
}
@media (max-width: 500px) {
  .container__image-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (max-width: 800px) {
  .container__image {
    order: 1;
  }
}

.content {
  padding-block: 7.15rem;
}
@media (max-width: 800px) {
  .content {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 1rem 3rem 4rem;
  }
}
.content__heading-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: clamp(2.8rem, 4vw, 5.6rem);
  line-height: 1;
  margin-bottom: 3.2rem;
}
.content__heading-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.content__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3.2rem;
}
.content__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 1.5;
}
.content__list-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
@media (max-width: 500px) {
  .content__list-item {
    align-items: flex-start;
  }
}
.content__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-control label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.form-control input {
  margin-bottom: 2.4rem;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 1.5;
  width: 100%;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #36384d;
  background-image: linear-gradient(to right, #ff6a3a 0%, #ff527b 100%);
  background-size: 0% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}
.button:hover, .button:focus {
  background-size: 100% 100%;
}

.text-input {
  width: 100%;
  padding: 1.6rem 2.4rem;
  border: 1px solid #949494;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}
.text-input:focus {
  outline: none;
  border-color: #242742;
}
.text-input[aria-invalid=true] {
  border-color: #ff6155;
  background-color: #ffe7e6;
}
.text-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 1.5;
  color: #949494;
}
.text-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 1.5;
  color: #949494;
}/*# sourceMappingURL=main.css.map */